# Gradle files
.gradle/
build/
app/build/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
local.properties

# Project IDX & VS Code
.idx/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Markdown files
*.md

# Local configs, logs and heap dumps
*.hprof
*.log
local.properties

